---
layout: default
title: 
  en: All Illustrations
pagination: 
  enabled: true
  collection: illustrations
---

<main class="main-content container illustration-list-page">
  <h1 class="section-title">All Illustrations</h1>

{% include category-nav.html %}


  <div class="illustration-horizontal-grid">
    {% for item in paginator.posts %}
      <article class="horizontal-card">
        <a href="{{ item.url }}" class="card-link">
          <div class="thumb-area">
            <img src="/assets/images/illustrations/thumbnail/{{ item.image }}-thumbnail.png" alt="{{ item.title.en }} thumbnail - SunnyDraws">
          </div>
          <div class="info-area">
            <h3>{{ item.title.en }}</h3>
          </div>
        </a>
      </article>
    {% endfor %}
  </div>

{% include paginator.html %}

</main>