<footer class="site-footer container">
  <div class="social-links">
    <a href="https://www.instagram.com/miniartaday/" target="_blank" class="social-link">
      <img src="/assets/images/ui/social_icons/instagram.svg" alt="Instagram Link" />
    </a>
     
    <a href="https://www.pinterest.com/art_sunnydraws/" target="_blank" class="social-link">
      <img src="/assets/images/ui/social_icons/pinterest.svg" alt="Pinterest Link" />
    </a>

    <a href="mailto:hello@sunnydraws.com?subject=%5BSunnyDraws%5D" class="social-link">
      <img src="/assets/images/ui/social_icons/email.svg" alt="Email Link" />
    </a>
  </div>

  <p class="copyright-info">&copy; {{ "now" | date: "%Y" }} SunnyDraws. All Rights Reserved.</p>
</footer>

