---
layout: default
title:
  en: Food & Drinks
permalink: /illustrations/food-drinks/
pagination: 
  enabled: true
  collection: illustrations
  category: food-drinks  # 👈 對應 MD 裡的類別
  indexpage: 'index'
---

<main class="main-content container">
  <h1 class="section-title">{{ site.data.categories['food-drinks'].en }}</h1>

{% include category-nav.html %}

  <div class="illustration-horizontal-grid">
    {% for item in paginator.posts %}
      <article class="horizontal-card">
        <a href="{{ item.url }}" class="card-link">
          <div class="thumb-area">
            <img src="/assets/images/illustrations/thumbnail/{{ item.image }}-thumbnail.png" alt="{{ item.title.en }} thumbnail">
          </div>
          <div class="info-area">
            <h3>{{ item.title.en }}</h3>
          </div>
        </a>
      </article>
    {% endfor %}
  </div>

{% include paginator.html %}

  
</main>