<!DOCTYPE html>
<html>
	<head>

		{% include head.html %}
		
	</head>
	<body>
		<div class="top-bar-area">
			
			
				{% unless page.url == "/" %}
    				{% include site_logo.html %}
  				{% endunless %}				
	


			<nav class="top-nav">
				<div class="container">
					<a href="/index">Home</a>
					<span>|</span>
					<a href="/illustrations">Free Illustrations</a>
					<span>|</span>
					<a href="/license">License</a>
					<span>|</span>
					<a href="/about">About</a>
				</div>
			</nav>
		</div>


		{{ content }}

		{% include footer.html %}


		<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
		<script>
		  kofiWidgetOverlay.draw('supportsunny', {
		    'type': 'floating-chat',
		    'floating-chat.donateButton.text': 'Support Me',
		    'floating-chat.donateButton.background-color': '#ff38b8',
		    'floating-chat.donateButton.text-color': '#fff'
		  });
		</script>
		
	</body>
</html>

