---
layout: default
---
<main class="main-content container illustration-detail-page">

  <nav class="breadcrumb-nav"> 
    <a href="/illustrations/" class="breadcrumb-item link">All</a>
    <span class="separator">&gt;</span>
    
    <a href="/illustrations/{{ page.category | slugify }}/" class="breadcrumb-item link">
      {{ site.data.categories[page.category].en }}
    </a>
    <span class="separator">&gt;</span>
    
    <div class="breadcrumb-item current">{{ page.title.en }}</div>
  </nav>

  <article>
    
    <h1 class="section-title">{{ page.title.en }}!</h1>

    <div class="illustration-image-wrapper">
      <img src="/assets/images/illustrations/sample/{{ page.image }}-sample.png" alt="{{ page.title.en }} sample - SunnyDraws">
    </div>

    <div>
      <a href="/assets/images/illustrations/download/{{ page.image }}.png" 
        download="{{ page.image }}.png"
        class="basic-button download-btn" 
        onclick="gtag('event', 'file_download', {
            'file_name': '{{ page.title.en | escape }}',
            'file_extension': 'png' 
        });">
        Download
      </a>
    </div>


        
    {% if page.tags %}
    <div class="illustration-tags">
      {% for tag in page.tags %}
        <pre>#{{ tag }}</pre>
      {% endfor %}
    </div>
    {% endif %}

 

    <div class="license-info-box">
      <h3>You can:</h3>
      <ul>
        <li><span class="icon">👍</span>Use for personal or commercial projects.</li>
        <li><span class="icon">✌️</span>  Modify the illustration as needed.</li>
        <li><span class="icon">☺️</span>  No attribution required (but appreciated!).</li>
      </ul>
      <p class="license-agreement">By clicking download, you agree with our <a href="/license">license</a><span class="icon">✨</span></p>
    </div>
    
  </article>

</main>