---
layout: default
pagination: 
  enabled: true
  collection: illustrations
---

<main class="main-content container">
  <h1 class="section-title">
    {{ site.data.categories[page.autopage.display_name].en }}
  </h1>

  {% include category-nav.html %}

 <div class="illustration-horizontal-grid">
  {% for item in paginator.posts %}
    <article class="horizontal-card">
      <a href="{{ item.url }}" class="card-link">
        <div class="thumb-area">
          <img src="/assets/images/illustrations/thumbnail/{{ item.image }}-thumbnail.png" alt="{{ item.title.en }}">
        </div>
        <div class="info-area">
          <h3>{{ item.title.en }}</h3>
        </div>
      </a>
    </article>
  {% endfor %}
</div>

  {% include paginator.html %}

</main>


<!--Debug 

<div style="width:200px;overflow:auto">
<pre>
posts: {{ paginator.posts | size }}

ALL:
{% for item in site.illustrations %}
- {{ item.title.en }} | {{ item.category }}
{% endfor %}

autopage: {{ page.autopage | inspect }}
</pre>
</div>

-->